<% include ../header.ejs %>

    <table class="table table-bordered table-hover">
        <tr>
            <td>제목</td>
            <td>작성일</td>
            <td>삭제</td>
        </tr>

        <% posts.forEach( function(post) { %>
            <tr>
                <td>
                    <a href="/posts/detail/<%=post.id%>">
                        <%=post.title%>
                    </a>
                </td>
                <td>
                    <%=post.getDate.year%>년
                        <%=post.getDate.month%>월
                            <%=post.getDate.day%>일
                </td>
                <td><a href="/posts/delete/<%=post.id%>" class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</a></td>
            </tr>
            <% }); %>

    </table>

    <a href="/posts/write" class="btn btn-default">작성하기</a>
    <% include ../footer.ejs %>